body {
    padding: 0;
    margin: 0;
    background-color: black;
}

* {
    color: white;
    font-family: 'Consolas', monospace;
}

header {
    position: fixed;
    border-bottom: 2px white solid;
    width: 100%;
    height: 8%;
    background-color: black;
    z-index: 1;
}

.user-base {
    position: absolute;
    right: 1%;
    height: 100%;
}

.hamburger-menu {
    position: absolute;
    right: 0;
    height: 100%;
    line-height: 10px;
    width: 10%;
    text-align: center;

}

.hamburger-menu > img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}

.hamburguer-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-modal > img {
    width: 20%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.hamburger-content {
    margin: 10px;
    background-color: black;
    color: white;
    font-size: 5vh;
    padding: 5px;
    border-radius: 20px;
}

.user-profile {
    position: relative;
    padding: 5px;
    float: right;
    font-size: 1.8vh;
    margin-right: 10px;
}

.login-button {
    position: relative;
    padding: 5px;
    float: right;
    font-size: 1.8vh;
    cursor: pointer;
}

.site-title {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    position: absolute;
    top: calc(8% + 2px);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: calc(92% - 2px);
}

.question-card {
    position: relative;
    margin: 10px auto 10px auto;
    width: 90%;
    min-height: 100px;
}

.username {
    margin: 10px;
}

.question-text {
    font-size: 20px;
    margin: 0 65px;
    word-wrap: break-word;
}

.question-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.question-button {
    cursor: pointer;
}

.question-button:active {
    text-shadow: 0 0 5px white;
}

.question-comments {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.question-comments > a {
    text-decoration: none;
}

.question-comments > a:active {
    text-shadow: 0 0 5px white;
}

.answer-card {
    position: relative;
    margin: 10px auto 10px auto;
    width: 90%;
    padding-bottom: 25px;
}

.answer-card  * {
    color: black;
}

.answer-text {
    color: black;
    font-size: 20px;
    margin: 0 65px;
    word-wrap: break-word;
}

/* CSS BASE */

.invert {
    background-color: white;
    color: black;
}

.border {
    border: 2px white solid;
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.center-text {
    text-align: center;
}

.no-select {
    user-select: none;
}